.anchor {
    -fx-background-image: url('../icons/background.jpg');
    -fx-background-repeat: repeat;
}

.scroll-pane > .viewport{
    -fx-background-image: url('../icons/background.jpg');
    -fx-background-repeat: repeat;
}